@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 189, 189)
}

header {
  background:  rgb(226, 189, 189);
  padding: 20px;
  text-align: center;
}

button {
	-moz-box-shadow: 5px 5px 0px 0px #899599;
	-webkit-box-shadow: 5px 5px 0px 0px #899599;
	box-shadow: 5px 5px 0px 0px #899599;
	background-color:#944367;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
  text-indent:0;
	display:inline-block;
	color:#ffffff;
  font-family: 'Comfortaa', cursive;	
  font-size:20px;
	font-weight:bold;
	font-style:normal;
  height:50px;
	line-height:50px;
  width:140px;
	text-decoration:none;
	text-align:center;
  text-shadow:0px 1px 0px #e1e2ed;
} 

.button :hover {
  background-color:#bab1ba; 
} 

.button :active {
	position:relative;
	top:1px;
}
/* button:hover {
  background: #802a80;
  text-decoration: none;
} */


header > h1 {
  color: rgb(218, 110, 110);
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.choices {
    text-align: center;
}

.choice {
  display: inline-block;
  padding: 20px;
  margin: 0 20px;
}

#action-message {
  text-align: center;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

  .score-board {
    border: 3px solid white;
    margin: 20px auto;
    width: 200px;
    color: white;
    font-size: 46px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Comfortaa', cursive;
    position: relative;
  }

  .badge {
    background: rgb(238, 112, 175);
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Comfortaa', cursive;
  
  }

  #user-label {
    position: absolute;
    top: -10px;
    left: -25px;
  }

  #computer-label {
    position: absolute;
    top: 74px;
    right: -40px;
  }
  
  .result {
    font-size: 36px;
    color: white;
    padding: 10px;
  }

  .result > p {
    text-align: center;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    
  }

